body {
  background-color: black;
}
p,
#sidebar {
  color: #002b36;
}
#sidebar .links a {
  color: #859900;
}
img.bg {
  /* Set rules to fill background */

  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */

  width: 100%;
  height: auto;
  /* Set up positioning */

  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}
#page-wrap {
  position: relative;
  margin: 0 auto;
}
li.post.group,
aside,
h1,
.copyright {
  background: rgba(253, 246, 227, 0.9);
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}
#blog_info h1 {
  padding: 0.5em;
}
#blog_info h1 a {
  color: #cb4b16;
}
.caption h2 a {
  color: #dc322f;
}
#posts .post {
  padding: 2em;
}
#sidebar {
  padding: 1px;
}
.post_info .timestamp {
  color: #586e75;
}
.copyright {
  padding: 0 2em;
}
.caption blockquote {
  border-left: 2px solid #268bd2;
}
